<div class="subscribe-container">
		<h3>
			White & Yellow		
		</h3>
		<ul>
			<li>500 Terry Francois Street</li>
			<li>San Francisco, CA 94158</li>
			<li>Tel: 123-456-7890</li>
		</ul>
		<ul>
			<li>Mon - Fri: 7am - 10pm</li>
			<li>Saturday: 8am - 11pm</li>
			<li>Sunday: 8am - 10pm</li>
		</ul>
		<form action="#">
			<span>
					Let's be friends and have eggs benedict
			</span>
			<div>
				<input type="text" placeholder="Email Address">
				<input type="submit" value="Subscribe">
			</div>					
		</form>
</div><!-- subscribe-container -->	